# Скомпилированные файлы
*.exe
*.out
*.app

# Объектные файлы
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib

# Препроцессированные файлы
*.i
*.ii

# Файлы зависимостей
*.d
*.dep

# Файлы сборки
Build/
build/
cmake-build-*/